body { 
    font-family:sans-serif; 
    font-weight:bold; 
    font-size:16pt;
	background: url("../images/starfield.jpg") no-repeat;
	background-size: 100% 100%;
	
	margin: 0;
	padding: 0;
}

.scoreBoard {
	font: 16px;
	padding: 5px;
	margin: auto;
}

.panel {
	font: 16px;
}

.battle-ground-container {
	background-image: url("../images/starfield.jpg") no-repeat;
/*	height: 200px; */
	margin: 0px;
	padding: 0px;
}

footer {
	height: 40px;
	background-color: blue;
}

/* Topmatter */
.jumbotron {
	height: 40px;
	background: transparent;
	border: 1px #6f5a2d solid;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
.topmatter {
    height:210px;    
}
.bottommatter{
/*    background:#e6f9ff; */
    height:auto;
}
/* For the left 'Guess A Letter!' and 'Guessed Letter' boxes. */
.side-bar-left {
	width: 400px;
	margin-left: 20px;
	border: 1px #6f5a2d solid;
}
.side-container {
/*    margin-top:45px; */
    margin-left:20px; 
/*	margin: auto; */
/*    width:150px; */
    text-align:center;
/*	background-color: pink; */
}
.container-title {
    color:#6f5a2d;
	font-size: 20px;
	font-weight: bold;
}
.input-area {
    width:75px;
    height:41px;
    margin:auto;
    padding:3pt;
    border: 1px #6f5a2d solid;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
/*    background:#ebe2ce; */
	background: #e6f9ff;
}
#letter-input {
    border:1px #6f5a2d solid;
    width:20pt;
    font-size:14pt;
    text-align:center;
}
.guessed-letter {
    color:#792c15;
}
/* Word Box */
.word-box {
    width:250px;
    margin:auto;
    margin-top:25px;
    text-align:center;
}
.word-display {
    background:#e6f9ff;
    border:1px #6f5a2d solid;
    height:31px;
    padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
#hint-display {
    float: right;
	margin: 0 30px 0 30px;
	background:#e6f9ff;
    border:1px #6f5a2d solid;
	width: auto;
    padding:3pt;	
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
#stat-display{
	color: white;
	margin: 20px;
}
#wins-display {
    background:#e6f9ff;
	font-size: 16px;
/*    border:1px #6f5a2d solid; */
    height:31px;
    padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
#losses-display {
    background:#e6f9ff;
/*    border:1px #6f5a2d solid; */
    height:31px;
    padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
#health-display {
    background:#e6f9ff;
/*    border:1px #6f5a2d solid; */
    height:31px;
    padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
#attack-display {
    background:#e6f9ff;
/*    border:1px #6f5a2d solid; */
    height:31px;
    padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
#your-wins-display {
    background:#e6f9ff;
/*    border:1px #6f5a2d solid; */
    height:31px;

	padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
#your-losses-display {
    background:#e6f9ff;
/*    border:1px #6f5a2d solid; */
    height:31px;

	padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
#your-health-display {
    background:#e6f9ff;
/*    border:1px #6f5a2d solid; */
    height:31px;

	padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
#counter-display {
    background:#e6f9ff;
/*    border:1px #6f5a2d solid; */
    height:31px;

	padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
#picture-display {
/*    background:#e6f9ff; */
/*    border:1px #6f5a2d solid; */
    padding:3pt;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}

#vanquished-display {
	padding:3pt;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}

img {
  width: 88px;
  height: 88px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
  border: 1px solid #6f5a2d;
  padding: 5px;
}
.shown-letter {
    border-bottom: 3px #000 solid;
    padding: 0 2px;
    margin: 0 2px;
    color:#1c2025;
}
.hideImage {
	visibility: hidden;
}
#showImage {
	visibility: visible;
}
.shown-picture {
/*  width: 38px; */
/*  height: 38px; */
/*  border: 1px solid black; */
	margin-right: 10px;
  border-radius: 5px;
}
.shown-hint {
/*    border-bottom: 3px #000 solid; */
    padding: 0 2px;
    margin: 0 2px;
    color:#1c2025;
}

.shown-wins {
/*    border-bottom: 3px #000 solid; */
    padding: 0 2px;
    margin: 0 2px;
    color:#1c2025;
}

.shown-losses {
/*    border-bottom: 3px #000 solid; */
    padding: 0 2px;
    margin: 0 2px;
    color:#1c2025;
}

.shown-health {
/*    border-bottom: 3px #000 solid; */
    padding: 0 2px;
    margin: 0 2px;
    color:#1c2025;
}

.shown-attack {
/*    border-bottom: 3px #000 solid; */
    padding: 0 2px;
    margin: 0 2px;
    color:#1c2025;
}

.shown-your-wins {
/*    border-bottom: 3px #000 solid; */
    padding: 0 2px;
    margin: 0 2px;
    color:#1c2025;
}

.shown-your-losses {
/*    border-bottom: 3px #000 solid; */
    padding: 0 2px;
    margin: 0 2px;
    color:#1c2025;
}

.shown-your-health {
/*    border-bottom: 3px #000 solid; */
    padding: 0 2px;
    margin: 0 2px;
    color:#1c2025;
}

.shown-counter {
/*    border-bottom: 3px #000 solid; */
    padding: 0 2px;
    margin: 0 2px;
    color:#1c2025;
}


/* Hangman Area */
.hang-container {
	margin-top:-10px;
    margin-right: 110px; 
    width:200px;
    height:205px;
    float:right;
}
.scaffolding-top {
    width:108px;
    height:5px;
    background: #332915;
}
.scaffolding-left {
    width:5px;
    height:200px;
    background:#332915;
    float:left;
}
.scaffolding-base {
    width:150px;
    height:5px;
    background:#332915;
}
.draw-area {
    width:200px;
    height:200px;
    text-align:center;
}
.rope {
    margin:auto;
    height:25px;
    width:5px;
    background:#a59885;
}
.head {
    margin:auto;
    height:30px;
    width:30px;
    background:#000;
    -webkit-border-radius: 15px;
    -moz-border-radius:15px;
    border-radius:15px;
}
.armbox {
    margin:auto;
    width:100px;
}
.leftarm {
    float:left;
    height:10px;
    width:45px;
    background:#000;
}
.rightarm {
    float:right;
    height:10px;
    width:45px;
    background:#000;
}
.torso {
    margin:auto;
    width:10px;
    height:50px;
    background:#000;
}
.legbox {
    margin:auto;
    height:60px;
    width:30px;
}
.leftleg {
    float:left;
    width:10px;
    height:60px;
    background:#000;
}
.rightleg {
    float:right;
    width:10px;
    height:60px;
    background:#000;
}
.pelvis {
    margin:auto;
    height:10px;
    width:10px;
    background:#000;
}

/* Adding Button Style from Fridge Class Assignment */ 
  .letter {
    width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
  }

  .letter-button-color {
    color: darkcyan;
  }

  .fridge-color {
    color: orange;
  }

  #display {
    margin-top: 35px;
    height: 150px;
    width: 220px;
    margin-left: 60px;
  }

  #buttons {
    padding-top: 60px;
  }

  #clear {
    margin-left: 20px;
    font-size: 25px;
    color: black;
    border-style: solid;
    width: 100px;
  }

  #hint {
    margin-left: 0;
    font-size: 25px;
    color: black;
    border-style: solid;
    width: 75px;
  }
  
 #startGame {

    color: black;
    border-style: solid;
 
  }
 #nextRound {

    color: black;
    border-style: solid;
 
  }
 #resetGame {

    color: black;
    border-style: solid;
 
  }